.card-head {
    height: 150px;
    background-image: url('../img/beautiful-tropical-beach-sea-ocean-with-white-cloud-blue-sky-copyspace_74190-8663.jpg');
    background-size: cover;
}

@import url('https://fonts.googleapis.com/css?family=Lobster');

.headerlogin {
    font-family: system-ui;
    color: rgb(160, 250, 248)
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .formlogin {
        width: 300px;
        box-sizing: border-box;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .formlogin {
        width: 350px;
        box-sizing: border-box;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .formlogin {
        width: 400px;
        box-sizing: border-box;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .formlogin {
        width: 420px;
        box-sizing: border-box;
    }
}