@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Fjalla+One&family=Inter&family=Kalam:wght@700&family=Source+Code+Pro&display=swap');

body {
    background: linear-gradient(to right, #e13680, #a43ab2);


}

.avatar {
    color: rgb(10, 229, 236);
    height: 38px;
    line-height: 38px;
    margin-right: 5px;
}


.judul {
    margin-top: 50px;
    display: flex;
    /* outline: 2px solid red; */
    align-items: center;
    flex-direction: column;
    color: white;
    box-sizing: border-box;


}

.judul h1 {
    margin: 0;
    font-size: 56px;
    font-weight: 700;
    line-height: 72px;
    color: rgb(255, 255, 248);
    font-family: "Poppins", sans-serif;
    letter-spacing: .1em;
    animation: animasi 4s infinite;
    /* text-shadow: 1px 4px 2px rgb(29, 28, 29); */
}

.judul h2 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 5px;
    color: rgb(10, 229, 236);
    font-family: "Poppins", sans-serif;
}

.pilihpermainan {
    margin-top: -10px;
    width: 400px;
    background-color: rgb(166, 58, 175);
    color: rgb(250, 245, 245);
    font-weight: 700;
    font-family: 'Poppins';
}

.judul h4 {
    line-height: 60px;
    letter-spacing: 2px;
    color: rgb(248, 240, 240);
}

@keyframes animasi {
    10% {
        color: rgb(236, 252, 10)
    }

    15% {
        color: rgb(8, 255, 66)
    }

    23% {
        color: rgb(12, 161, 247)
    }

    50% {
        color: rgb(189, 255, 9)
    }

    75% {
        color: rgb(228, 118, 15)
    }

    85% {
        color: yellow
    }

    92% {
        color: rgb(226, 8, 255)
    }

    100% {
        color: rgb(249, 13, 33)
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .judul {
        margin-top: 50px;
        display: flex;
        /* outline: 2px solid red; */
        align-items: center;
        color: white;
        box-sizing: border-box;
    }

    .judul h1 {
        margin: 0;
        font-size: 28px;
        font-weight: 700;
        line-height: 39px;
        color: rgb(248, 248, 246);
        font-family: "Poppins", sans-serif;
        letter-spacing: .1em;
        animation: animasi 1s infinite;

        /* text-shadow: 1px 4px 2px rgb(29, 28, 29); */
    }

    .judul h2 {
        margin-top: 3px;
        font-size: 25px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 2px;
        color: rgb(247, 246, 242);
        font-family: "Poppins", sans-serif;

        /* text-shadow: 1px 4px 2px rgb(29, 28, 29); */
    }

    .judul h4 {

        line-height: 50px;
        letter-spacing: 2px;
        color: rgb(248, 240, 240);
        font-size: 18px;
    }

    .pilihpermainan {
        margin-top: -14px;
        width: 200px;
        background-color: rgb(166, 58, 175);
        color: rgb(250, 245, 245);
        font-weight: 700;
        font-family: 'Poppins';
    }

    .bungkusoption {
        top: 18%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

    .brand {
        font-family: 'Lobster', cursive;
        font-size: 1.4rem;
    }

    .puter {
        font-size: 0.6rem !important;
        font-family: Arial, Helvetica, sans-serif;
        background-color: #4d023d;

    }

    span.icon i {
        font-size: 1.2rem;
    }


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .brand {
        font-family: 'Lobster', cursive;
        font-size: 1.6rem;


    }

    #kuiss {
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;

    }

    #kuiss:hover {
        background-color: rgb(225, 159, 241);
        color: red;
    }

    #weton:hover {
        background-color: rgb(201, 235, 193);
        color: rgb(32, 139, 62);
    }

    #weton {
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;

    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .brand {
        font-family: 'Lobster', cursive;
        font-size: 1.8rem;

    }


}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .brand {
        font-family: 'Lobster', cursive;
        font-size: 2rem;

    }


}