@import url('https://fonts.googleapis.com/css?family=Lobster');

.avatar {
    color: rgb(10, 229, 236);
    height: 38px;
    line-height: 38px;
    margin-right: 5px;
}

body {
    background: linear-gradient(to right, #e13680, #a43ab2);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .brand {
        font-family: 'Lobster', cursive;
        font-size: 1.2rem;
    }

    .puter {
        font-size: 0.6rem !important;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background-color: #57194a;

    }

    span.icon i {
        font-size: 1.2rem;
    }

    #kuiss {
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
    }

    #tebakangka {
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
    }

    #kuiss:hover {
        background-color: burlywood;
    }

    #tebakangka:hover {
        background-color: rgb(135, 222, 157);
    }

    #kuiss:hover {
        background-color: rgb(225, 159, 241);
        color: red;
    }

    #weton:hover {
        background-color: rgb(201, 235, 193);
        color: rgb(32, 139, 62);
    }

    #weton {
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .brand {
        font-family: 'Lobster', cursive;
        font-size: 1.6rem;


    }

    #kuiss {
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;

    }

    #kuiss:hover {
        background-color: rgb(225, 159, 241);
        color: red;
    }

    #weton:hover {
        background-color: rgb(201, 235, 193);
        color: rgb(32, 139, 62);
    }

    #weton {
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;

    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .brand {
        font-family: 'Lobster', cursive;
        font-size: 1.8rem;

    }

    #kuiss {
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;

    }

    #kuiss:hover {
        background-color: rgb(225, 159, 241);
        color: red;
    }

    #weton:hover {
        background-color: rgb(201, 235, 193);
        color: rgb(32, 139, 62);
    }

    #weton {
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .brand {
        font-family: 'Lobster', cursive;
        font-size: 2rem;

    }

    #kuiss {
        font-size: 28px;
        font-family: Arial, Helvetica, sans-serif;
    }

    #kuiss:hover {
        background-color: rgb(225, 159, 241);
        color: red;
    }

    #weton:hover {
        background-color: rgb(201, 235, 193);
        color: rgb(32, 139, 62);
    }

    #weton {
        font-size: 28px;
        font-family: Arial, Helvetica, sans-serif;
    }
}